@import '../../styles/var'

.program
    position: relative
    padding: 53px 0 0 0
    &::after
        position: absolute
        top: 78px
        //left: -220px
        left: -12%
        z-index: -1
        content: ''
        width: 544px
        height: 544px
        border-radius: 50%
        background-color: rgba(38, 240, 58, 0.1)
    &::before
        position: absolute
        top: 806px
        right: -5%
        z-index: -1
        content: ''
        width: 529px
        height: 529px
        border: 30px solid rgba(38, 240, 58, 0.1)
        border-radius: 50%
.wrapper
    padding: 100px 0 120px 0
.button
    display: flex
    justify-content: space-between
    padding: 0 0 70px 0
    width: 100%
    &_button
        width: 49%
        height: 62px
.list
    display: flex
    justify-content: space-between
    padding-bottom: 50px
.block
    display: flex
    justify-content: space-between