@import '../../styles/var'

.listProgram
    display: flex
    justify-content: space-between
.titleProgram
    font-size: 20px
    line-height: 24px
    +font-mont-400
.itemProgram
    display: flex
    flex-direction: column
    flex-shrink: 0
    width: 180px
    font-size: 18px
    line-height: 22px
    +font-mont-300
.span
    font-size: 18px
    line-height: 22px
    +font-mont-500